In [25]:
import pandas as pd
import numpy as np
import pulp
import requests
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

In [26]:
predictions_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/predictions.pkl')

In [27]:
#first, pull the ids for all players
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
elements_df = pd.DataFrame(json['elements'])
predictions_df = predictions_df.merge(elements_df.loc[:, ['id', 'now_cost']], left_on='element', right_on='id')

In [28]:
#possible some players will have a double gw -- group and sum by gameweek
df = predictions_df.groupby(['element', 'player', 'position', 'team', 'gw', 'now_cost'])['predicted_points'].sum().reset_index()

In [29]:
df.to_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/grouped_predictions_with_cost.pkl')

In [30]:
def select_team(expected_scores, prices, positions, clubs, total_budget=100, sub_factor=0.2):
    num_players = len(expected_scores)
    model = pulp.LpProblem("Constrained value maximisation", pulp.LpMaximize)
    decisions = [
        pulp.LpVariable("x{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    captain_decisions = [
        pulp.LpVariable("y{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    sub_decisions = [
        pulp.LpVariable("z{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]


    # objective function:
    model += sum((captain_decisions[i] + decisions[i] + sub_decisions[i]*sub_factor) * expected_scores[i]
                 for i in range(num_players)), "Objective"

    # cost constraint
    model += sum((decisions[i] + sub_decisions[i]) * prices[i] for i in range(num_players)) <= total_budget  # total cost

    # position constraints
    # 1 starting goalkeeper
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 1) == 1
    # 2 total goalkeepers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 1) == 2

    # 3-5 starting defenders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) <= 5
    # 5 total defenders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 2) == 5

    # 3-5 starting midfielders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) <= 5
    # 5 total midfielders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 3) == 5

    # 1-3 starting attackers
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) >= 1
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) <= 3
    # 3 total attackers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 4) == 3

    # club constraint
    for club_id in np.unique(clubs):
        model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if clubs[i] == club_id) <= 3  # max 3 players

    model += sum(decisions) == 11  # total team size
    model += sum(captain_decisions) == 1  # 1 captain
    
    for i in range(num_players):  
        model += (decisions[i] - captain_decisions[i]) >= 0  # captain must also be on team
        model += (decisions[i] + sub_decisions[i]) <= 1  # subs must not be on team

    model.solve()
    print("Total expected score = {}".format(model.objective.value()))

    return decisions, captain_decisions, sub_decisions

In [31]:
df.gw = df.gw.astype('int64')
data = df[df.gw.isin(df.gw.unique()[:5])] #filter for next 5 gws only
data = data.groupby(['player', 'position', 'team', 'now_cost', 'element'])['predicted_points'].sum().reset_index()
expected_scores = data.predicted_points.values
prices = data.now_cost.values / 10
positions = data.position.values
teams = data.team.values
names = data.player.values
elements = data.element.values
decisions, captain_decisions, sub_decisions = select_team(expected_scores, prices, positions, teams)

Total expected score = 118.5553931236267

/Users/andrewpeters/anaconda3/lib/python3.8/site-packages/pulp/pulp.py:1198: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [32]:
chosen_names = []
chosen_points = []
chosen_position = []
actual_points = []
chosen_price = []
player_ids = []
for i in range(len(data)):
    if decisions[i].value() !=0:
        chosen_names.append(names[i])
        chosen_points.append(expected_scores[i])
        chosen_position.append(positions[i])
        chosen_price.append(prices[i])
        player_ids.append(elements[i])
chosen_ones = pd.DataFrame(zip(chosen_names, chosen_points, chosen_position, chosen_price), columns=['name', 'pred', 'pos', 'price'])

sub_names = []
sub_points = []
sub_position = []
actual_points = []
sub_price = []
for i in range(len(data)):
    if sub_decisions[i].value() !=0:
        sub_names.append(names[i])
        sub_points.append(expected_scores[i])
        sub_position.append(positions[i])
        sub_price.append(prices[i])
subs = pd.DataFrame(zip(sub_names, sub_points, sub_position, sub_price), columns= ['name', 'pred', 'pos', 'price'])

In [33]:
chosen_ones.sort_values('pos')

                         name       pred  pos  price
1   Ederson_Santana de Moraes   6.083674    1    6.1
4                James_Justin   7.509999    2    5.0
5                 John_Stones   8.100338    2    5.2
10          Toby_Alderweireld   9.254547    2    5.4
3               Jack_Grealish   9.823527    3    7.6
7                  Phil_Foden   9.679405    3    6.1
8                Ross_Barkley   9.823527    3    5.9
9             Tanguy_Ndombele  10.892149    3    5.9
0                  Danny_Ings   9.481039    4    8.5
2                  Harry_Kane  10.892149    4   11.1
6               Ollie_Watkins  10.285777    4    6.5

In [34]:
subs.sort_values('pos')

                name      pred  pos  price
3  Kasper_Schmeichel  5.069728    1    5.5
0  Aaron_Wan-Bissaka  7.509999    2    5.6
1      Harry_Maguire  7.509999    2    5.5
2  James_Ward-Prowse  9.095830    3    6.0

In [35]:
chosen_ones.price.sum() + subs.price.sum()

95.9

In [11]:
# Sanity Check -- how have these players in their past 5 games?
prev_games_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/interim/df.pkl')
prev_games_df[prev_games_df.player.isin(chosen_names)].sort_values('kickoff_time').groupby('player').tail(5)[['player', 'gw', 'opponent_team', 'total_points', 'minutes', 'position']].sort_values(['position', 'player', 'gw'])

                    player  gw  opponent_team  total_points  minutes  position
8124     Emiliano_Martínez  20        Burnley           1.0     90.0         1
8926     Emiliano_Martínez  21    Southampton          10.0     90.0         1
793      Emiliano_Martínez  22       West Ham           4.0     90.0         1
14064    Emiliano_Martínez  23        Arsenal           9.0     90.0         1
11131    Emiliano_Martínez  24       Brighton          12.0     90.0         1
74                Dan_Burn  20         Fulham           0.0      0.0         2
7438              Dan_Burn  21          Spurs           0.0     18.0         2
1571              Dan_Burn  22      Liverpool           6.0     90.0         2
8198              Dan_Burn  23        Burnley           2.0     90.0         2
5303              Dan_Burn  24    Aston Villa           6.0     90.0         2
2098             Eric_Dier  20      Liverpool           1.0     90.0         2
11696            Eric_Dier  21       Brighton           0.0      0.0         2
10928            Eric_Dier  22        Chelsea           2.0     90.0         2
12492            Eric_Dier  23      West Brom           0.0      0.0         2
3597             Eric_Dier  24       Man City           0.0     90.0         2
5750          Jan_Bednarek  21    Aston Villa           2.0     90.0         2
5036          Jan_Bednarek  22        Man Utd          -7.0     85.0         2
13915         Jan_Bednarek  23      Newcastle           0.0     90.0         2
7271          Jan_Bednarek  24         Wolves           0.0     90.0         2
10881         Jan_Bednarek  25        Chelsea           2.0     90.0         2
110    Alexis_Mac Allister  20         Fulham           2.0     82.0         3
7474   Alexis_Mac Allister  21          Spurs           3.0     90.0         3
1607   Alexis_Mac Allister  22      Liverpool           0.0      0.0         3
8234   Alexis_Mac Allister  23        Burnley           2.0     90.0         3
5339   Alexis_Mac Allister  24    Aston Villa           3.0     90.0         3
3505            John_Fleck  21       Man City           2.0     90.0         3
12399           John_Fleck  22      West Brom           1.0     90.0         3
10800           John_Fleck  23        Chelsea           2.0     90.0         3
1325            John_Fleck  24       West Ham           0.0      0.0         3
503             John_Fleck  25         Fulham           2.0     90.0         3
8146           John_McGinn  20        Burnley           2.0     90.0         3
8948           John_McGinn  21    Southampton           3.0     90.0         3
815            John_McGinn  22       West Ham           2.0     90.0         3
14086          John_McGinn  23        Arsenal           3.0     90.0         3
11153          John_McGinn  24       Brighton           3.0     90.0         3
3997    Ruben_Loftus-Cheek  22      Leicester           2.0     70.0         3
1037    Ruben_Loftus-Cheek  23       West Ham           3.0     90.0         3
9741    Ruben_Loftus-Cheek  24        Everton           3.0     90.0         3
8401    Ruben_Loftus-Cheek  24        Burnley           1.0     90.0         3
2497    Ruben_Loftus-Cheek  25  Sheffield Utd           3.0     90.0         3
977            Jordan_Ayew  20       West Ham           4.0     17.0         4
6880           Jordan_Ayew  21         Wolves           5.0     90.0         4
13544          Jordan_Ayew  22      Newcastle           1.0     90.0         4
6121           Jordan_Ayew  23          Leeds           2.0     75.0         4
8342           Jordan_Ayew  24        Burnley           2.0     90.0         4
88             Neal_Maupay  20         Fulham           2.0     90.0         4
7452           Neal_Maupay  21          Spurs           1.0     78.0         4
1585           Neal_Maupay  22      Liverpool           2.0     82.0         4
8212           Neal_Maupay  23        Burnley           2.0     61.0         4
5317           Neal_Maupay  24    Aston Villa           2.0     79.0         4
3527       Oliver_McBurnie  21       Man City           1.0     12.0         4
12421      Oliver_McBurnie  22      West Brom           1.0     45.0         4
10822      Oliver_McBurnie  23        Chelsea           2.0     90.0         4
1347       Oliver_McBurnie  24       West Ham           1.0     28.0         4
525        Oliver_McBurnie  25         Fulham           2.0     90.0         4