In [155]:
import pandas as pd
import numpy as np
import pulp
import requests
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

In [156]:
predictions_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/predictions.pkl')

In [157]:
#first, pull the ids for all players
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
elements_df = pd.DataFrame(json['elements'])
predictions_df = predictions_df.merge(elements_df.loc[:, ['id', 'now_cost']], left_on='element', right_on='id')

In [158]:
#possible some players will have a double gw -- group and sum by gameweek
df = predictions_df.groupby(['element', 'player', 'position', 'team', 'gw', 'now_cost'])['predicted_points'].sum().reset_index()

In [159]:
df.to_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/grouped_predictions_with_cost.pkl')

In [160]:
def select_team(expected_scores, prices, positions, clubs, total_budget=100, sub_factor=0.2):
    num_players = len(expected_scores)
    model = pulp.LpProblem("Constrained value maximisation", pulp.LpMaximize)
    decisions = [
        pulp.LpVariable("x{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    captain_decisions = [
        pulp.LpVariable("y{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    sub_decisions = [
        pulp.LpVariable("z{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]


    # objective function:
    model += sum((captain_decisions[i] + decisions[i] + sub_decisions[i]*sub_factor) * expected_scores[i]
                 for i in range(num_players)), "Objective"

    # cost constraint
    model += sum((decisions[i] + sub_decisions[i]) * prices[i] for i in range(num_players)) <= total_budget  # total cost

    # position constraints
    # 1 starting goalkeeper
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 1) == 1
    # 2 total goalkeepers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 1) == 2

    # 3-5 starting defenders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) <= 5
    # 5 total defenders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 2) == 5

    # 3-5 starting midfielders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) <= 5
    # 5 total midfielders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 3) == 5

    # 1-3 starting attackers
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) >= 1
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) <= 3
    # 3 total attackers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 4) == 3

    # club constraint
    for club_id in np.unique(clubs):
        model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if clubs[i] == club_id) <= 3  # max 3 players

    model += sum(decisions) == 11  # total team size
    model += sum(captain_decisions) == 1  # 1 captain
    
    for i in range(num_players):  
        model += (decisions[i] - captain_decisions[i]) >= 0  # captain must also be on team
        model += (decisions[i] + sub_decisions[i]) <= 1  # subs must not be on team

    model.solve()
    print("Total expected score = {}".format(model.objective.value()))

    return decisions, captain_decisions, sub_decisions

In [161]:
df.gw = df.gw.astype('int64')
data = df[df.gw.isin(df.gw.unique()[:5])] #filter for next 5 gws only
data = data.groupby(['player', 'position', 'team', 'now_cost', 'element'])['predicted_points'].sum().reset_index()
expected_scores = data.predicted_points.values
prices = data.now_cost.values / 10
positions = data.position.values
teams = data.team.values
names = data.player.values
elements = data.element.values
decisions, captain_decisions, sub_decisions = select_team(expected_scores, prices, positions, teams)

Total expected score = 585.7222755432128

/Users/andrewpeters/anaconda3/lib/python3.8/site-packages/pulp/pulp.py:1198: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [162]:
chosen_names = []
chosen_points = []
chosen_position = []
actual_points = []
chosen_price = []
player_ids = []
for i in range(len(data)):
    if decisions[i].value() !=0:
        chosen_names.append(names[i])
        chosen_points.append(expected_scores[i])
        chosen_position.append(positions[i])
        chosen_price.append(prices[i])
        player_ids.append(elements[i])
chosen_ones = pd.DataFrame(zip(chosen_names, chosen_points, chosen_position, chosen_price), columns=['name', 'pred', 'pos', 'price'])

sub_names = []
sub_points = []
sub_position = []
actual_points = []
sub_price = []
for i in range(len(data)):
    if sub_decisions[i].value() !=0:
        sub_names.append(names[i])
        sub_points.append(expected_scores[i])
        sub_position.append(positions[i])
        sub_price.append(prices[i])
subs = pd.DataFrame(zip(sub_names, sub_points, sub_position, sub_price), columns= ['name', 'pred', 'pos', 'price'])

In [163]:
chosen_ones.sort_values('pos')

                name       pred  pos  price
4          Nick_Pope  38.319046    1    5.6
0       Craig_Dawson  45.172867    2    4.5
2       James_Justin  39.661919    2    5.0
7        Rob_Holding  38.119881    2    4.5
10   Vladimir_Coufal  48.535530    2    4.7
1      Jack_Grealish  56.178761    3    7.7
6   Pedro_Lomba Neto  42.157913    3    5.7
8       Ross_Barkley  47.734203    3    5.9
9       Tomas_Soucek  57.970783    3    5.3
3        Neal_Maupay  38.070827    4    6.1
5      Ollie_Watkins  47.847221    4    6.5

In [164]:
subs.sort_values('pos')

                     name       pred  pos  price
2       Kasper_Schmeichel  33.797047    1    5.5
1             John_Stones  36.157032    2    5.2
0          James_Maddison  37.495399    3    7.3
3  Richarlison_de Andrade  32.463226    4    7.9

In [166]:
# Sanity Check -- how have these players in their past 5 games?
prev_games_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/interim/df.pkl')
prev_games_df[prev_games_df.player.isin(chosen_names)].sort_values('kickoff_time').groupby('player').tail(5)[['player', 'gw', 'opponent_team', 'total_points', 'minutes', 'position']].sort_values(['position', 'player', 'gw'])

                 player  gw   opponent_team  total_points  minutes  position
3161          Nick_Pope  22        Man City           2.0     90.0         1
11227         Nick_Pope  23        Brighton           2.0     90.0         1
12733         Nick_Pope  24  Crystal Palace           8.0     90.0         1
145           Nick_Pope  24          Fulham           2.0     90.0         1
11962         Nick_Pope  25       West Brom           8.0     90.0         1
13266      Craig_Dawson  20  Crystal Palace           9.0     90.0         2
2227       Craig_Dawson  21       Liverpool           7.0     90.0         2
5864       Craig_Dawson  22     Aston Villa           2.0     90.0         2
729        Craig_Dawson  23          Fulham           6.0     90.0         2
2996       Craig_Dawson  24   Sheffield Utd           6.0     90.0         2
9854       James_Justin  20         Everton           1.0     90.0         2
6284       James_Justin  21           Leeds           1.0     90.0         2
324        James_Justin  22          Fulham          15.0     90.0         2
7015       James_Justin  23          Wolves           9.0     90.0         2
1853       James_Justin  24       Liverpool           0.0      0.0         2
8888        Rob_Holding  20     Southampton           2.0     90.0         2
4523        Rob_Holding  21         Man Utd           8.0     90.0         2
6664        Rob_Holding  22          Wolves           1.0     90.0         2
5252        Rob_Holding  23     Aston Villa           2.0     90.0         2
5926        Rob_Holding  24           Leeds           1.0      1.0         2
13264   Vladimir_Coufal  20  Crystal Palace           1.0     90.0         2
2225    Vladimir_Coufal  21       Liverpool           1.0     90.0         2
5862    Vladimir_Coufal  22     Aston Villa           2.0     90.0         2
727     Vladimir_Coufal  23          Fulham           6.0     90.0         2
2994    Vladimir_Coufal  24   Sheffield Utd           6.0     90.0         2
8144      Jack_Grealish  20         Burnley           8.0     90.0         3
8946      Jack_Grealish  21     Southampton           6.0     90.0         3
813       Jack_Grealish  22        West Ham           6.0     90.0         3
14084     Jack_Grealish  23         Arsenal           2.0     90.0         3
11151     Jack_Grealish  24        Brighton           2.0     90.0         3
13310  Pedro_Lomba Neto  21  Crystal Palace           2.0     90.0         3
14764  Pedro_Lomba Neto  22         Arsenal           8.0     90.0         3
4465   Pedro_Lomba Neto  23       Leicester           3.0     87.0         3
9565   Pedro_Lomba Neto  24     Southampton           6.0     90.0         3
6606   Pedro_Lomba Neto  25           Leeds           2.0     90.0         3
8176       Ross_Barkley  20         Burnley           2.0     82.0         3
8978       Ross_Barkley  21     Southampton           8.0     90.0         3
845        Ross_Barkley  22        West Ham           2.0     68.0         3
14116      Ross_Barkley  23         Arsenal           3.0     77.0         3
11184      Ross_Barkley  24        Brighton           3.0     75.0         3
13256      Tomas_Soucek  20  Crystal Palace          15.0     90.0         3
2217       Tomas_Soucek  21       Liverpool           1.0     90.0         3
5854       Tomas_Soucek  22     Aston Villa           9.0     90.0         3
719        Tomas_Soucek  23          Fulham           0.0     90.0         3
2986       Tomas_Soucek  24   Sheffield Utd           3.0     90.0         3
88          Neal_Maupay  20          Fulham           2.0     90.0         4
7452        Neal_Maupay  21           Spurs           1.0     78.0         4
1585        Neal_Maupay  22       Liverpool           2.0     82.0         4
8212        Neal_Maupay  23         Burnley           2.0     61.0         4
5317        Neal_Maupay  24     Aston Villa           2.0     79.0         4
8180      Ollie_Watkins  20         Burnley           6.0     90.0         4
8982      Ollie_Watkins  21     Southampton           2.0     90.0         4
849       Ollie_Watkins  22        West Ham           6.0     90.0         4
14120     Ollie_Watkins  23         Arsenal           9.0     90.0         4
11188     Ollie_Watkins  24        Brighton           2.0     90.0         4