In [51]:
import pandas as pd
import numpy as np
import pulp
import requests
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

In [10]:
predictions_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/predictions.pkl')

In [64]:
def select_team(expected_scores, prices, positions, clubs, total_budget=100, sub_factor=0.2):
    num_players = len(expected_scores)
    model = pulp.LpProblem("Constrained value maximisation", pulp.LpMaximize)
    decisions = [
        pulp.LpVariable("x{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    captain_decisions = [
        pulp.LpVariable("y{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]
    sub_decisions = [
        pulp.LpVariable("z{}".format(i), lowBound=0, upBound=1, cat='Integer')
        for i in range(num_players)
    ]


    # objective function:
    model += sum((captain_decisions[i] + decisions[i] + sub_decisions[i]*sub_factor) * expected_scores[i]
                 for i in range(num_players)), "Objective"

    # cost constraint
    model += sum((decisions[i] + sub_decisions[i]) * prices[i] for i in range(num_players)) <= total_budget  # total cost

    # position constraints
    # 1 starting goalkeeper
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 1) == 1
    # 2 total goalkeepers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 1) == 2

    # 3-5 starting defenders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 2) <= 5
    # 5 total defenders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 2) == 5

    # 3-5 starting midfielders
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) >= 3
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 3) <= 5
    # 5 total midfielders
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 3) == 5

    # 1-3 starting attackers
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) >= 1
    model += sum(decisions[i] for i in range(num_players) if positions[i] == 4) <= 3
    # 3 total attackers
    model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if positions[i] == 4) == 3

    # club constraint
    for club_id in np.unique(clubs):
        model += sum(decisions[i] + sub_decisions[i] for i in range(num_players) if clubs[i] == club_id) <= 3  # max 3 players

    model += sum(decisions) == 11  # total team size
    model += sum(captain_decisions) == 1  # 1 captain
    
    for i in range(num_players):  
        model += (decisions[i] - captain_decisions[i]) >= 0  # captain must also be on team
        model += (decisions[i] + sub_decisions[i]) <= 1  # subs must not be on team

    model.solve()
    print("Total expected score = {}".format(model.objective.value()))

    return decisions, captain_decisions, sub_decisions

In [26]:
#first, pull the ids for all players
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
elements_df = pd.DataFrame(json['elements'])
predictions_df = predictions_df.merge(elements_df.loc[:, ['id', 'now_cost']], left_on='element', right_on='id')

In [29]:
#possible some players will have a double gw -- group and sum by gameweek
df = predictions_df.groupby(['element', 'player', 'position', 'team', 'gw', 'now_cost'])['predicted_points'].sum().reset_index()

In [81]:
df.to_pickle('/Users/andrewpeters/GitHub/fpl/data/processed/grouped_predictions_with_cost.pkl')

In [86]:
df.gw = df.gw.astype('int64')
data = df[df.gw.isin(df.gw.unique()[:5])] #filter for next 5 gws only
data = data.groupby(['player', 'position', 'team', 'now_cost', 'element'])['predicted_points'].sum().reset_index()
expected_scores = data.predicted_points.values
prices = data.now_cost.values / 10
positions = data.position.values
teams = data.team.values
names = data.player.values
elements = data.element.values
decisions, captain_decisions, sub_decisions = select_team(expected_scores, prices, positions, teams)

Total expected score = 992.4

In [125]:
chosen_names = []
chosen_points = []
chosen_position = []
actual_points = []
chosen_price = []
player_ids = []
for i in range(len(data)):
    if decisions[i].value() !=0:
        chosen_names.append(names[i])
        chosen_points.append(expected_scores[i])
        chosen_position.append(positions[i])
        chosen_price.append(prices[i])
        player_ids.append(elements[i])
chosen_ones = pd.DataFrame(zip(chosen_names, chosen_points, chosen_position, chosen_price), columns=['name', 'pred', 'pos', 'price'])

sub_names = []
sub_points = []
sub_position = []
actual_points = []
sub_price = []
for i in range(len(data)):
    if sub_decisions[i].value() !=0:
        sub_names.append(names[i])
        sub_points.append(expected_scores[i])
        sub_position.append(positions[i])
        sub_price.append(prices[i])
subs = pd.DataFrame(zip(sub_names, sub_points, sub_position, sub_price), columns= ['name', 'pred', 'pos', 'price'])

In [67]:
chosen_ones.sort_values('pos')

                     name   pred  pos  price
3        Christian_Walton   45.0    1    4.0
4            Jan_Bednarek   45.0    2    4.9
6              Max_Kilman   72.0    2    4.0
7             Neil_Taylor   54.0    2    4.2
0     Alexis_Mac Allister   90.0    3    5.3
1          Anwar_El Ghazi   87.0    3    5.3
2             Ayoze_PÃ©rez   90.0    3    6.0
8            Ross_Barkley  108.0    3    5.9
9           Steven_Alzate   90.0    3    4.2
5       Kelechi_Iheanacho   90.0    4    5.6
10  Willian JosÃ©_Da Silva   72.0    4    7.0

In [68]:
subs.sort_values('pos')

                 name  pred  pos  price
0          Danny_Ward  45.0    1    4.3
1  Jannik_Vestergaard  45.0    2    4.7
3       Ryan_Bertrand  45.0    2    5.0
2         Matej_Vydra  72.0    4    4.8

In [63]:
# Sanity Check -- how have these players in their past 5 games?
prev_games_df = pd.read_pickle('/Users/andrewpeters/GitHub/fpl/data/interim/df.pkl')
prev_games_df[prev_games_df.player.isin(chosen_names)].groupby('player').tail(5)[['player', 'gw', 'opponent_team', 'total_points', 'minutes', 'position']].sort_values(['position', 'player', 'gw'])

                       player  gw             opponent_team  total_points  minutes  position
10419        Christian_Walton   1                   Chelsea           0.0      0.0         1
13430        Christian_Walton   2                 Newcastle           0.0      0.0         1
12696        Christian_Walton   5            Crystal Palace           0.0      0.0         1
11924        Christian_Walton   6                 West Brom           0.0      0.0         1
14151        Christian_Walton  16                   Arsenal           0.0      0.0         1
102254           Jan_Bednarek  34                   Everton           1.0     90.0         2
102907           Jan_Bednarek  35         Manchester United           6.0     90.0         2
103565           Jan_Bednarek  36  Brighton and Hove Albion           2.0     90.0         2
104228           Jan_Bednarek  37               Bournemouth           0.0      0.0         2
104894           Jan_Bednarek  38          Sheffield United           0.0      0.0         2
102314             Max_Kilman  34          Sheffield United           0.0      0.0         2
102967             Max_Kilman  35                   Everton           0.0      0.0         2
103626             Max_Kilman  36                   Burnley           0.0      0.0         2
104289             Max_Kilman  37            Crystal Palace           0.0      0.0         2
104955             Max_Kilman  38                   Chelsea           0.0      0.0         2
102536            Neil_Taylor  34         Manchester United           1.0     90.0         2
103190            Neil_Taylor  35            Crystal Palace           1.0     36.0         2
103850            Neil_Taylor  36                   Everton           0.0      0.0         2
104515            Neil_Taylor  37                   Arsenal           0.0      0.0         2
105181            Neil_Taylor  38           West Ham United           0.0      0.0         2
102488    Alexis_Mac Allister  34                 Liverpool           2.0     70.0         3
103142    Alexis_Mac Allister  35           Manchester City           0.0      0.0         3
103802    Alexis_Mac Allister  36               Southampton           1.0     14.0         3
104466    Alexis_Mac Allister  37          Newcastle United           1.0     32.0         3
105132    Alexis_Mac Allister  38                   Burnley           2.0     73.0         3
102111         Anwar_El Ghazi  34         Manchester United           1.0     57.0         3
102764         Anwar_El Ghazi  35            Crystal Palace           1.0      2.0         3
103420         Anwar_El Ghazi  36                   Everton           1.0     26.0         3
104083         Anwar_El Ghazi  37                   Arsenal           0.0      0.0         3
104749         Anwar_El Ghazi  38           West Ham United           1.0      1.0         3
102232            Ayoze_PÃ©rez  34                   Arsenal           2.0     90.0         3
102885            Ayoze_PÃ©rez  35               Bournemouth           2.0     70.0         3
103543            Ayoze_PÃ©rez  36          Sheffield United           8.0     70.0         3
104206            Ayoze_PÃ©rez  37         Tottenham Hotspur           1.0     58.0         3
104872            Ayoze_PÃ©rez  38         Manchester United           1.0     32.0         3
102167           Ross_Barkley  34            Crystal Palace           2.0     64.0         3
102820           Ross_Barkley  35          Sheffield United           2.0     77.0         3
103477           Ross_Barkley  36                   Norwich           1.0     23.0         3
104140           Ross_Barkley  37                 Liverpool           0.0      0.0         3
104806           Ross_Barkley  38   Wolverhampton Wanderers           1.0      2.0         3
101965          Steven_Alzate  34                 Liverpool           0.0      0.0         3
102618          Steven_Alzate  35           Manchester City           0.0      0.0         3
103273          Steven_Alzate  36               Southampton           0.0      0.0         3
103934          Steven_Alzate  37          Newcastle United           0.0      0.0         3
104599          Steven_Alzate  38                   Burnley           0.0      0.0         3
102103      Kelechi_Iheanacho  34                   Arsenal           1.0     58.0         4
102756      Kelechi_Iheanacho  35               Bournemouth           1.0     45.0         4
103412      Kelechi_Iheanacho  36          Sheffield United           0.0      0.0         4
104075      Kelechi_Iheanacho  37         Tottenham Hotspur           1.0     31.0         4
104741      Kelechi_Iheanacho  38         Manchester United           1.0     57.0         4
11098   Willian JosÃ©_Da Silva  20                   Chelsea           1.0     18.0         4
13339   Willian JosÃ©_Da Silva  21            Crystal Palace           2.0     90.0         4
14793   Willian JosÃ©_Da Silva  22                   Arsenal           5.0     90.0         4
9594    Willian JosÃ©_Da Silva  24               Southampton           2.0     88.0         4
6635    Willian JosÃ©_Da Silva  25                     Leeds           2.0     86.0         4